on post-fs-data
    mount ext4 loop@/data/xposed.img /xposed noatime
    # Run without any labels, HTC devices only run this
    exec /sbin/mount_xposed.sh
    # Hopefully it will fix some selinux issues
    exec u:r:init:s0 root root -- /sbin/mount_xposed.sh
